{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Content -->
<section>

    <header class="main">
        <h1>{{ announcement.title }}</h1>
    </header>

    {% static 'images/pic11.jpg' as default_image %}
    <span class="image main"><img src="{{ announcement.mediafile|default:default_image }}" alt="" /></span>

    {{ announcement.long_text|linebreaks }}

    <hr class="major" />

</section>

{% endblock %}


{% block admin_link %}

<a href="{% url 'admin:dreifaltigkeit_announcement_change' announcement.pk %}">Ankündigung bearbeiten</a>

{% endblock %}
