{% extends 'base.html' %}

{% load static %}
{% load dreifaltigkeit_filters %}

{% block content %}

<!-- Content -->
<section>

    <header class="main">
        <h1>{{ announcement.title }}</h1>
    </header>

    <div class="row">
      <div class="6u 12u$(small)">
          {{ announcement.long_text|linkify|linebreaks }}
      </div>
      <div class="6u 12u$(small)">
          {% with default_image=DEFAULT_IMAGES|random %}
              {% static default_image.src as default_image_src %}
              <span class="image fit ">
                  <img src="{{ announcement.mediafile|default:default_image_src }}"
                      {% if announcement.mediafile %}
                          alt="{{ announcement.mediafile.text }}" title="{{ announcement.mediafile.text }}"
                      {% else %}
                          alt="{{ default_image.text }}" title="{{ default_image.text }}"
                      {% endif %}
                  />
              </span>
          {% endwith %}
      </div>
    </div>

    <hr class="major" />

</section>

{% endblock %}


{% block admin_link %}

<a href="{% url 'admin:dreifaltigkeit_announcement_change' announcement.pk %}">Ankündigung bearbeiten</a>

{% endblock %}
