{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Content -->
<section>

    <header class="main">
        <h1>{{ announcement.title }}</h1>
    </header>

    <div class="row">
      <div class="6u 12u$(small)">
          {{ announcement.long_text|linebreaks }}
      </div>
      <div class="6u 12u$(small)">
          {% static 'images/Rosette.jpg' as default_image %}
          <span class="image fit "><img src="{{ announcement.mediafile|default:default_image }}" alt="" /></span>
      </div>
    </div>

    <hr class="major" />

</section>

{% endblock %}


{% block admin_link %}

<a href="{% url 'admin:dreifaltigkeit_announcement_change' announcement.pk %}">Ankündigung bearbeiten</a>

{% endblock %}
