{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Willkommen</h1>
            <p>auf der Webseite des Trinitatiskindergartens der Ev.-Luth. Dreifaltigkeitskirchgemeinde Leipzig</p>
        </header>
        <p>Unser Kindergarten nimmt bis zu 49 Kinder von 2 bis 6 Jahren in altersgemischten Gruppen auf. Die Erzieherinnen und Erzieher arbeiten nach den pädagogischen Schwerpunkten der naturnahen und religiösen Erziehung und streben besonders eine gesunde Ernährung der Kinder an. Wir feiern die Feste des Kirchenjahres und arbeiten den Eltern und der Gemeinde eng zusammen.</p>
        <ul class="actions">
            <li><a href="#aktuelles" class="button big icon fa-chevron-down">Aktuelles</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="{% static 'images/Kindergarten_01.jpg' %}" title="Wandbild an der Giebelseite Kohlgartenweg 3 in Leipzig, Foto: Lutz Schober" alt="Wandbild an der Giebelseite Kohlgartenweg 3 in Leipzig, Foto: Lutz Schober" />
    </span>
</section>

<!-- Section -->
<section id="aktuelles">
    <header class="major">
        <h2>Aktuelle Termine und Informationen</h2>
    </header>
    <div class="posts">

        {% static DEFAULT_IMAGES|random as default_image %}

        {% for announcement in announcements %}
            <article>
                <a {% if announcement.long_text %} href="{{ announcement.get_absolute_url }}" {% endif %} class="image">
                    <img src="{{ announcement.mediafile|default:default_image }}" alt="" />
                </a>
                <h3>{{ announcement.title }}</h3>
                <p>{{ announcement.short_text }}</p>
                {% if announcement.long_text %}
                    <ul class="actions">
                        <li><a href="{{ announcement.get_absolute_url }}" class="button">Weitere Informationen</a></li>
                    </ul>
                {% endif %}
            </article>
        {% endfor %}

    </div>

    <hr class="major" />

</section>

{% endblock %}
