{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Willkommen</h1>
            <p>auf der Webseite der Ev.-Luth. Dreifaltigkeitskirchgemeinde Leipzig</p>
        </header>
        {% if yearly_text %}
            <blockquote>{{ yearly_text.text }}<br />{{ yearly_text.verse}}</blockquote>
        {% endif %}
        <p>Wir begrüßen Sie auf unserer Webseite. Sie sind eingeladen zu unseren Gottesdiensten, Veranstaltungen und Gruppen und Kreisen. Unsere <a href="{% url 'flat_page' category='gemeinde' page='mitarbeiter-innen' %}">Mitarbeiterinnen und Mitarbeiter</a> helfen Ihnen gern weiter.</p>
        <ul class="actions">
            <li><a href="#aktuelles" class="button big icon fa-chevron-down">Aktuelles</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="{% static 'images/Trinitatiskirche_01.jpg' %}" title="Trinitatiskirche zu Leipzig Anger-Crottendorf, Foto: Ralf Mäkert" alt="Trinitatiskirche zu Leipzig Anger-Crottendorf, Foto: Ralf Mäkert" />
    </span>
</section>

<!-- Section -->
<section id="aktuelles">
    <header class="major">
        <h2>
            Aktuelle Termine und Informationen
            <a href="{% url 'parish_feed' %}" class="icon fa-rss rss-icon"><span class="label">RSS</span></a>
        </h2>
    </header>
    <div class="posts">
        <article>
            <a href="{% url 'services' %}" class="image">
                <img src="{% static 'images/Altar_02.jpg' %}" title="Altar der Trinitatiskirche zu Leipzig Anger-Crottendorf mit Abendmahlsgeräten, Foto: Lutz Schober" alt="Altar der Trinitatiskirche zu Leipzig Anger-Crottendorf mit Abendmahlsgeräten, Foto: Lutz Schober" />
            </a>
            <h3>Nächster Gottesdienst</h3>
            {% if next_service %}
                <p>
                    {{ next_service.begin|date:"l, j. F Y, H:i" }}
                    <br />{{ next_service.place }}
                    <br />{{ next_service.title }}: {{ next_service.content }}
                </p>
            {% else %}
                <p>Wann und wo wir den nächsten Gottesdienst in unserer Gemeinde feiern, erfahren Sie unter dem folgenden Link.</p>
            {% endif %}
            <ul class="actions">
                <li><a href="{% url 'services' %}" class="button">Alle Gottesdienste</a></li>
            </ul>
        </article>

        {% if current_markusbote %}
            <article>
                <a href="{% url 'flat_page' category='gemeinde' page='markusbote' %}" class="image">
                    <img src="{% static 'images/Markusbote_Schriftzug.jpg' %}" title="Schriftzug des Markusboten, erste Ausgabe März 1907" alt="Schriftzug des Markusboten, erste Ausgabe März 1907" />
                </a>
                <h3>Aktueller Markusbote</h3>
                <p>Hier finden Sie den aktuellen <a href="{{ current_markusbote.file }}">Markusboten (Ausgabe {{ current_markusbote.months }})</a> als PDF zum Download.</p>
                <ul class="actions">
                    <li><a href="{% url 'flat_page' category='gemeinde' page='markusbote' %}" class="button">Alle Markusboten</a></li>
                </ul>
            </article>
        {% endif %}

        <article>
            <a href="{% url 'events' %}" class="image">
                <img src="{% static 'images/Trinitatiskirche_02.jpg' %}" title="Kirchenschiff der Trinitatiskirche zu Leipzig Anger-Crottendorf, Foto: Lutz Schober" alt="Kirchenschiff der Trinitatiskirche zu Leipzig Anger-Crottendorf, Foto: Lutz Schober" />
            </a>
            <h3>Veranstaltungen im Überblick</h3>
            <p>Viele Termine und Veranstaltungen sind in unserem Kalender eingetragen.</p>
            <ul class="actions">
                <li><a href="{% url 'events' %}" class="button">Zum Kalender</a></li>
            </ul>
        </article>

        {% for coming_event in coming_events %}
            <article>
                {% static DEFAULT_IMAGES|random as default_image %}
                <a {% if coming_event.content|length > TRUNCATE_LENGTH %} href="{{ coming_event.get_absolute_url }}" {% endif %} class="image">
                    <img src="{{ coming_event.mediafile|default:default_image }}" alt="" />
                </a>
                <h3>{{ coming_event.title }}</h3>
                <p>
                    {{ coming_event.begin|date:"l, j. F Y, H:i" }}
                    {% if coming_event.place %}
                        <br />{{ coming_event.place }}
                    {% endif %}
                    {% if coming_event.content %}<br />{{ coming_event.content|truncatechars:TRUNCATE_LENGTH }}{% endif %}
                </p>
                {% if coming_event.content|length > TRUNCATE_LENGTH %}
                    <ul class="actions">
                        <li><a href="{{ coming_event.get_absolute_url }}" class="button">Weitere Informationen</a></li>
                    </ul>
                {% endif %}
            </article>
        {% endfor %}

        {% for announcement in announcements %}
            <article>
                {% static DEFAULT_IMAGES|random as default_image %}
                <a {% if announcement.long_text %} href="{{ announcement.get_absolute_url }}" {% endif %} class="image">
                    <img src="{{ announcement.mediafile|default:default_image }}" alt="" />
                </a>
                <h3>{{ announcement.title }}</h3>
                <p>{{ announcement.short_text }}</p>
                {% if announcement.long_text %}
                    <ul class="actions">
                        <li><a href="{{ announcement.get_absolute_url }}" class="button">Weitere Informationen</a></li>
                    </ul>
                {% endif %}
            </article>
        {% endfor %}

    </div>

    <hr class="major" />

</section>

{% endblock %}
