{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Content -->
<section>

    <header class="main">
        <h1>Impressum</h1>
    </header>

    <span class="image right big"><img src="{% static 'images/pic10.jpg' %}" alt="" /></span>

    <h2>Inhaltlich verantwortlich für diese Webseite:</h2>

    <address>
        Ev.-Luth. Dreifaltigkeitskirchgemeinde Leipzig<br />
        Dresdner Straße 59<br />
        04317 Leipzig<br />
        Telefon: (0341) 6880428 oder (0341) 6880335<br />
        Telefax: (0341) 6810695<br />
        E-Mail: kg.leipzig-dreifaltigkeitskirchgemeinde [bei] evlks.de
    </address>

    <p>Die Gemeinde ist eine Körperschaft des öffentlichen Rechts (§ 3 Abs. 1 S. 1 <abbr title="Kirchgemeindeordnung der Evangelisch-Lutherischen Landeskirche Sachsens">KGO</abbr>). Sie wird vertreten durch den <a href="{% url 'flatpage' category='gemeinde' page='kirchenvorstand' %}">Kirchenvorstand</a> (§ 3 Abs. 3 S. 1 <abbr title="Kirchgemeindeordnung der Evangelisch-Lutherischen Landeskirche Sachsens">KGO</abbr>). Die Vertretung obliegt dem oder der Vorsitzenden (§ 16 Abs. 4 S. 1 <abbr title="Kirchgemeindeordnung der Evangelisch-Lutherischen Landeskirche Sachsens">KGO</abbr>).</p>

    <hr class="major" />

    <h2>Technischer Ansprechpartner</h2>

    <address>
        Norman Jäckel<br />
        E-Mail: webseite-gemeinde [bei] normanjaeckel.de
    </address>

    <hr class="major" />

    <h2>Rechtliche Hinweise</h2>

    <p>Bitte beachten Sie die folgenden Hinweise zu den Inhalten dieser Webseite und zu externen Links, zum Urheberrecht und zum Datenschutz.</p>

    <h3>Inhalte dieser Webseite und externe Links</h3>

    <p>Die Betreiberin dieser Webseite ist für eigene Inhalte nach den allgemeinen Gesetzen verantwortlich. Eine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte wird nicht übernommen. Für fremde Inhalte und externe Links ist der jeweilige Anbieter oder Betreiber der verlinkten Seiten verantwortlich. Auch insofern wird keine Gewähr übernommen. Bei Bekanntwerden von Rechtsverletzungen werden betroffene Inhalte oder Links umgehend entfernt. Um entsprechende Hinweise wird gebeten.</p>

    <h3>Urheberrecht</h3>

    <p>Alle Inhalte, Werke und Strukturen dieser Webseite sind urheber- oder leistungsschutzrechtlich geschützt. Die Veröffentlichung im World Wide Web oder in sonstigen Diensten des Internets bedeutet keine Einverständniserklärung für eine anderweitige Nutzung außerhalb der Grenzen des Urheberrechts. Das Template dieser Webseite basiert auf der freien Vorlage <a href="https://html5up.net/editorial">Editorial</a> von <a href="https://html5up.net/">HTML5 UP | @ajlkn</a>. Diese wurde unter der <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Namensnennung 3.0 Unported (CC BY 3.0)</a> Lizenz veröffentlicht. Für diese Webseite wurden Veränderungen vorgenommen. Die ursprüngliche Vorlage kann nur nach den Bedingungen der oben genannten Lizenz anderweitig verwendet werden.</p>

    <h3>Datenschutz</h3>

    <p>Auf dieser Webseite werden durch die Betreiberin keine personenbezogenen Daten der Nutzer/Besucher erhoben.</p>

    <hr class="major" />

</section>

{% endblock %}
