{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Content -->
<section>

    <header class="main">
        <h1>Impressum</h1>
    </header>

    <span class="image right big"><img src="{% static 'images/Trinitatiskirche_03.jpg' %}" title="Kirchenschiff der Trinitatiskirche zu Leipzig Anger-Crottendorf, Foto Lutz Schober" alt="Kirchenschiff der Trinitatiskirche zu Leipzig Anger-Crottendorf, Foto Lutz Schober" /></span>

    <h2>Inhaltlich verantwortlich für diese Webseite:</h2>

    {% if SITE_ID == 'parish' %}
        <address>
            Ev.-Luth. Dreifaltigkeitskirchgemeinde Leipzig<br />
            Dresdner Straße 59<br />
            04317 Leipzig<br />
            Telefon: (0341) 6880428 oder (0341) 6880335<br />
            Telefax: (0341) 6810695<br />
            E-Mail: kg.leipzig-dreifaltigkeitskirchgemeinde [bei] evlks.de
        </address>
    {% else %}
        <!-- SITE_ID == 'kindergarden' -->
        <address>
            Trinitatiskindergarten der Ev.-Luth. Dreifaltigkeitskirchgemeinde Leipzig<br />
            Kohlgartenweg 3<br />
            04318 Leipzig<br />
            Telefon: (0341) 6994793<br />
            Telefax: (0341) 3572535<br />
            E-Mail: ev.kindergarten.trinitatis [bei] web.de
        </address>
    {% endif %}

    <p>Die Kirchgemeinde ist eine Körperschaft des öffentlichen Rechts (§ 3 Abs. 1 S. 1 <abbr title="Kirchgemeindeordnung der Evangelisch-Lutherischen Landeskirche Sachsens">KGO</abbr>). Sie wird vertreten durch den <a href="{% if SITE_ID == 'parish' %}{% url 'flat_page' category='gemeinde' page='kirchenvorstand' %}{% else %}{{ LINK_TO_OTHER_SITE }}/gemeinde/kirchenvorstand/{% endif %}">Kirchenvorstand</a> (§ 3 Abs. 3 S. 1 <abbr title="Kirchgemeindeordnung der Evangelisch-Lutherischen Landeskirche Sachsens">KGO</abbr>). Die Vertretung obliegt dem oder der Vorsitzenden (§ 16 Abs. 4 S. 1 <abbr title="Kirchgemeindeordnung der Evangelisch-Lutherischen Landeskirche Sachsens">KGO</abbr>).</p>

    <hr class="major" />

    <h2>Technischer Ansprechpartner</h2>

    <address>
        Norman Jäckel<br />
        E-Mail: webseite-gemeinde [bei] normanjaeckel.de
    </address>

    <hr class="major" />

    <h2>Rechtliche Hinweise</h2>

    <p>Bitte beachten Sie die folgenden Hinweise zu den Inhalten dieser Webseite und zu externen Links, zum Urheberrecht und zum Datenschutz.</p>

    <h3>Inhalte dieser Webseite und externe Links</h3>

    <p>Die Betreiberin dieser Webseite ist für eigene Inhalte nach den allgemeinen Gesetzen verantwortlich. Eine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte wird nicht übernommen. Für fremde Inhalte und externe Links ist der jeweilige Anbieter oder Betreiber der verlinkten Seiten verantwortlich. Auch insofern wird keine Gewähr übernommen. Bei Bekanntwerden von Rechtsverletzungen werden betroffene Inhalte oder Links umgehend entfernt. Um entsprechende Hinweise wird gebeten.</p>

    <h3>Urheberrecht</h3>

    <p>Alle Inhalte, Werke und Strukturen dieser Webseite sind urheber- oder leistungsschutzrechtlich geschützt. Die Veröffentlichung im World Wide Web oder in sonstigen Diensten des Internets bedeutet keine Einverständniserklärung für eine anderweitige Nutzung außerhalb der Grenzen des Urheberrechts. Das Template dieser Webseite basiert auf der freien Vorlage <a href="https://html5up.net/editorial">Editorial</a> von <a href="https://html5up.net/">HTML5 UP | @ajlkn</a>. Diese wurde unter der <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Namensnennung 3.0 Unported (CC BY 3.0)</a> Lizenz veröffentlicht. Für diese Webseite wurden Veränderungen vorgenommen. Die ursprüngliche Vorlage kann nur nach den Bedingungen der oben genannten Lizenz anderweitig verwendet werden.</p>

    <h3>Datenschutz</h3>

    <p>Mit dieser Datenschutzerklärung informieren wir Sie als Nutzerin oder Nutzer dieser Website gemäß dem Kirchengesetz über den Datenschutz der Evangelischen Kirche in Deutschland (DSG-EKD) über die Art, den Umfang und den Zweck der Erhebung und Verwendung personenbezogener Daten durch die Ev.-Luth. Dreifaltigkeitskirchgemeinde Leipzig, Dresdner Straße 59, 04317 Leipzig.</p>

    <p>Die Gemeinde nimmt den Schutz Ihrer personenbezogenen Informationen sehr ernst und behandelt Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Vorschriften. Bedenken Sie, dass die Datenübertragung im Internet grundsätzlich mit Sicherheitslücken bedacht sein kann. Ein vollumfänglicher Schutz vor dem Zugriff durch Fremde ist nicht realisierbar.</p>

    <!--Betrieblicher Datenschutzbeauftragter: Der betriebliche Datenschutzbeauftragte ist [hier bitte Name und Kontaktdaten des betrieblichen
    Datenschutzbeauftragten einfügen]-->

    <p>Zugriffsdaten: Die Gemeinde erhebt derzeit keine Daten über Zugriffe auf die Seite und speichert – außer im Falle von Serverfehlern – auch keine Server-Logfiles ab.</p>

    <p>Cookies: Diese Website verwendet für nicht angemeldete Benutzer keine Cookies.</p>

    <p>Umgang mit Kontaktdaten: Nehmen Sie mit uns durch die angebotenen Kontaktmöglichkeiten Verbindung auf, werden Ihre Angaben gespeichert, damit auf diese zur Bearbeitung und Beantwortung Ihrer Anfrage zurückgegriffen werden kann. Ohne Ihre Einwilligung werden diese Daten nicht an Dritte weitergegeben.</p>

    <hr class="major" />

</section>

{% endblock %}
