{% extends 'base.html' %}

{% load static %}
{% load dreifaltigkeit_filters %}

{% block content %}

<!-- Content -->
<section>

    <header class="main">
        <h1>{{ event.title }}</h1>
    </header>

    <div id="single-event"></div>

    <hr class="major" />

</section>

{% endblock %}

{% block extra_scripts %}

<script src="{% static 'assets/js/elm.js' %}"></script>

{% with default_image=DEFAULT_IMAGES|random %}

<script>
    $(document).ready(function () {
        var app = Elm.Main.init({
            node: document.getElementById("single-event"),
            flags: {
                page: "singleEvent",
                staticPrefix: "{% static '' %}",
                defaultImage: {{ default_image | safe }},
                eventId: {{ pk }},
            },
        });
    });
</script>

{% endwith %}

{% endblock %}
