{% extends 'base.html' %}

{% load static %}
{% load dreifaltigkeit_filters %}

{% block content %}

<!-- Content -->
<section>

    <header class="main">
        <h1>{{ event.title }}</h1>
    </header>

    <div class="row">
      <div class="6u 12u$(small)">
          <p>{{ event.begin }} Uhr &middot; {{ event.place }}</p>
          {{ event.content|linkify|linebreaks }}
      </div>
      <div class="6u 12u$(small)">
          {% with default_image=DEFAULT_IMAGES|random %}
              {% static default_image.src as default_image_src %}
              <span class="image fit ">
                  <img src="{{ event.mediafile|default:default_image_src }}"
                      {% if event.mediafile %}
                          alt="{{ event.mediafile.text }}" title="{{ event.mediafile.text }}"
                      {% else %}
                          alt="{{ default_image.text }}" title="{{ default_image.text }}"
                      {% endif %}
                  />
              </span>
          {% endwith %}
      </div>
    </div>

    <hr class="major" />

</section>

{% endblock %}


{% block admin_link %}

<a href="{% url 'admin:dreifaltigkeit_event_change' event.pk %}">Termin bearbeiten</a>

{% endblock %}
