# Patterns of intentionally untracked files that Git should ignore

# Python compiled files
__pycache__/

# Direnv and Devenv
.direnv/
.devenv*
devenv.local.nix

# Secrets
secrets/
django_secret_key.txt

# Private development data
private/

# Special page
dreifaltigkeit/templates/special_page*

# IDE settins
.vscode/
