# Patterns of intentionally untracked files that Git should ignore

# Python compiled files
__pycache__/

# Virtual Python Environment builder
.virtualenv/

# Django settings
dreifaltigkeit_settings.py
dreifaltigkeit_*_settings.py
dreifaltigkeit_wsgi.py

# Development database
db.sqlite3
db_dreifaltigkeit_*.sqlite3

# Deployment directory
deployment/

# Private development data
private/

# Special page
dreifaltigkeit/templates/special_page*

# Devenv
.devenv*
devenv.local.nix
