@media screen and (max-width: 736px) {
    #header .logo {
        margin-bottom: 0.5em;
    }
    #header .logo:last-child {
        margin-bottom: 0;
    }
}

#header .logo {
    text-align: center;
}

ul.parish-contact {
    clear: both;
}

ul.parish-contact li {
    margin-bottom: 0.5em;
}

ul.parish-contact li i {
    color: #f56a6a;
}

.image.left.big, .image.right.big {
    max-width: 50%;
}
