/* Main header with links to parish, kindergarden and quarter project */

@media screen and (max-width: 736px) {
    #header .logo {
        margin-bottom: 0.5em;
    }
    #header .logo:last-child {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 737px) {
    #header .title-box {
        max-width: 15em;
        margin: 0 auto;
    }
}

#header .logo {
    text-align: center;
}


/* Header for main menu */

@media screen and (min-width: 1281px) {
  nav#menu header {
    display:none;
  }
  nav#menu ul {
    margin-top:5em;
  }
}


/* RSS icon in header on home view */

.major h2 a.rss-icon {
    color: #7f888f;
    margin-left: 0.5em;
    font-size: 0.7143em;
}


/* Logo for kids service */

.kids-logo {
    vertical-align: text-top;
    margin-top: -0.8em;
    margin-left: 0.5em;
}


/* Contact info for parish staff flat page */

ul.parish-contact {
    clear: both;
}

ul.parish-contact li {
    margin-bottom: 0.5em;
}

ul.parish-contact li i {
    color: #f56a6a;
}


/* Special list for some flat page */

.custom-list {
  list-style: none;
}

.custom-list li {
  padding-bottom: 0.5em;
}


/* Smallspace rule for bank account numbers */

.smallspace {
  margin-right: 0.2em;
}


/* Images for services and imprint page */

.image.left.big, .image.right.big {
    max-width: 50%;
}


/* Django admin */

#flatpage_form #id_content {
    font-family: monospace;
}
